html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 8px 30px;
  background: #ececec;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-books-title img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.list-books-title h1 {
  font-weight: lighter;
  margin: 0;
  color: #2c3e50;
  position: sticky;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  font-weight: 100;
  text-align: center;
  color: #2c3e50;
  text-transform: uppercase;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;

  border-radius: 50px;
  background: linear-gradient(145deg, #2f4256, #283848);
  box-shadow: 5px 5px 10px #dcdfe2, -5px -5px 10px #dcdfe2;
  transition: all 0.15s ease;
}

.open-search:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #283848, #2f4256);
  box-shadow: 5px 5px 10px #dcdfe2, -5px -5px 10px #dcdfe2;
}

.open-search div {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
  outline: 0;
}

.open-search button:hover {
  background-color: rgb(0, 102, 0);
}

/* search page */

.search-books-bar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 1.5px rgba(0, 0, 0, 0.12),
    0 4px 2px rgba(0, 0, 0, 0.12), 0 4px 2.5px rgba(0, 0, 0, 0.12),
    0 5px 6px rgba(225, 225, 225, 0.12);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.books-grid div {
  align-items: center;
  text-align: right;
}

.books-grid div img {
  width: 250px;
  height: 250px;
}

.warning-text {
  font-size: 30px;
  font-weight: bolder;
}

.book {
  width: 120px;
  margin: 0 10px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 5px;
  font-size: small;
  font-weight: 600;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  bottom: 3px;
  width: 20px;
  height: 20px;
  border-radius: 0 2px 0 0;
  background: rgba(0, 0, 0, 0.664);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  background: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
